<a href="https://colab.research.google.com/github/cfcastillo/DS-6-Notebooks/blob/main/Project_2_Notebook_cfc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Definition

The purpose of this project is to predict house prices (response) from predictor variables using Regression prediction techniques. The goal is to minimize the root mean squared (RMS) percentage error on the prediction of house sales price.

TODO: What type of problem is this?

# Data Collection

The data is a CSV file called HousingData.csv located on Google Drive. 

Here is a [link](https://drive.google.com/file/d/1KKbZ5xj750o7uOz7Tk84QlPiya4UX9FN/view?usp=sharing) to the data dictionary for the dataset.

## Imports

TODO: verify and remove any unneeded imports.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm

from sklearn import datasets
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
import sklearn.model_selection as model_selection

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Load Data

Data was provided on a Google Drive by the insructor.

In [2]:
# Mount Drive
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [3]:
# Load Data
data_path = '/drive/My Drive/Cohort_6/Projects/Project 2/Data/Housing Data.csv'
data = pd.read_csv(data_path)

# Data Cleaning

Data cleaning began with a high-level view of the columns to determine number of records, number of columns, volume of null (missing) values, and which values were continuous vs discrete.

Throughout the data cleaning process, the data specification was used to better understand the definition of columns and their values.

In [4]:
# Create copy of data that will be clean data
data_clean = data.copy();

In [5]:
# Get preliminary look at the data
data.head()

         PID  MS SubClass MS Zoning  ...  Sale Type  Sale Condition SalePrice
0  905101070           20        RL  ...        WD           Normal    115400
1  905101330           90        RL  ...        WD           Normal     90000
2  903454090           50        RM  ...        WD           Normal    141000
3  533244030           60        FV  ...        WD           Normal    254000
4  909252020           70        RL  ...        WD           Normal    155000

[5 rows x 81 columns]

In [6]:
# Check data types and other information about the dataset
# 2637 records
# 81 columns
# Sale Price is target column
# PID is unique identifier for rows - not important for analysis
row_count = len(data.index)
print(row_count)
data.info()

2637
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2637 entries, 0 to 2636
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2637 non-null   int64
 1   MS SubClass      2637 non-null   int64
 2   MS Zoning        2637 non-null   object
 3   Lot Frontage     2188 non-null   float64
 4   Lot Area         2637 non-null   int64
 5   Street           2637 non-null   object
 6   Alley            180 non-null    object
 7   Lot Shape        2637 non-null   object
 8   Land Contour     2637 non-null   object
 9   Utilities        2637 non-null   object
 10  Lot Config       2637 non-null   object
 11  Land Slope       2637 non-null   object
 12  Neighborhood     2637 non-null   object
 13  Condition 1      2637 non-null   object
 14  Condition 2      2637 non-null   object
 15  Bldg Type        2637 non-null   object
 16  House Style      2637 non-null   object
 17  Overall Qual     2637 non-null   int64
 18  Overall Cond     2637 non-null   int64
 19  Year Built       2637 non-null   int64
 20  Year Remod/Add   2637 non-null   int64
 21  Roof Style       2637 non-null   object
 22  Roof Matl        2637 non-null   object
 23  Exterior 1st     2637 non-null   object
 24  Exterior 2nd     2637 non-null   object
 25  Mas Vnr Type     2614 non-null   object
 26  Mas Vnr Area     2614 non-null   float64
 27  Exter Qual       2637 non-null   object
 28  Exter Cond       2637 non-null   object
 29  Foundation       2637 non-null   object
 30  Bsmt Qual        2564 non-null   object
 31  Bsmt Cond        2564 non-null   object
 32  Bsmt Exposure    2561 non-null   object
 33  BsmtFin Type 1   2564 non-null   object
 34  BsmtFin SF 1     2636 non-null   float64
 35  BsmtFin Type 2   2563 non-null   object
 36  BsmtFin SF 2     2636 non-null   float64
 37  Bsmt Unf SF      2636 non-null   float64
 38  Total Bsmt SF    2636 non-null   float64
 39  Heating          2637 non-null   object
 40  Heating QC       2637 non-null   object
 41  Central Air      2637 non-null   object
 42  Electrical       2637 non-null   object
 43  1st Flr SF       2637 non-null   int64
 44  2nd Flr SF       2637 non-null   int64
 45  Low Qual Fin SF  2637 non-null   int64
 46  Gr Liv Area      2637 non-null   int64
 47  Bsmt Full Bath   2635 non-null   float64
 48  Bsmt Half Bath   2635 non-null   float64
 49  Full Bath        2637 non-null   int64
 50  Half Bath        2637 non-null   int64
 51  Bedroom AbvGr    2637 non-null   int64
 52  Kitchen AbvGr    2637 non-null   int64
 53  Kitchen Qual     2637 non-null   object
 54  TotRms AbvGrd    2637 non-null   int64
 55  Functional       2637 non-null   object
 56  Fireplaces       2637 non-null   int64
 57  Fireplace Qu     1353 non-null   object
 58  Garage Type      2492 non-null   object
 59  Garage Yr Blt    2490 non-null   float64
 60  Garage Finish    2490 non-null   object
 61  Garage Cars      2636 non-null   float64
 62  Garage Area      2636 non-null   float64
 63  Garage Qual      2490 non-null   object
 64  Garage Cond      2490 non-null   object
 65  Paved Drive      2637 non-null   object
 66  Wood Deck SF     2637 non-null   int64
 67  Open Porch SF    2637 non-null   int64
 68  Enclosed Porch   2637 non-null   int64
 69  3Ssn Porch       2637 non-null   int64
 70  Screen Porch     2637 non-null   int64
 71  Pool Area        2637 non-null   int64
 72  Pool QC          11 non-null     object
 73  Fence            528 non-null    object
 74  Misc Feature     96 non-null     object
 75  Misc Val         2637 non-null   int64
 76  Mo Sold          2637 non-null   int64
 77  Yr Sold          2637 non-null   int64
 78  Sale Type        2637 non-null   object
 79  Sale Condition   2637 non-null   object
 80  SalePrice        2637 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.6+ MB

## Identify nulls

Nulls were identified by column. Then a percentage was calculated for each column to identify which columns had a large percentage of null values. Any columns with null percentages over 80% were deleted. Any columns with null percentages below 80% were evaluated and either deleted or filled with acceptable non-null values based on data type and the data specification.

In [15]:
# Identify nulls by column
# Identified columns that have large percentage of nulls. 

# Get columns with nulls
nulls = data.isnull().sum()
nulls = nulls[nulls > 0]
print(nulls)
print('-'*20)
# See what percentage of the rows have nulls for columns containing nulls
nulls = (nulls/row_count) * 100
nulls_df = nulls.to_frame()
nulls_df.columns=['null_pct']
print('Large number of nulls')
nulls_df_big = nulls_df[nulls_df['null_pct'] > 40]
print(nulls_df_big)
print('-'*20)
print('Small number of nulls')
nulls_df_small = nulls_df[(nulls_df['null_pct'] < 40)]
print(nulls_df_small)

Lot Frontage       449
Alley             2457
Mas Vnr Type        23
Mas Vnr Area        23
Bsmt Qual           73
Bsmt Cond           73
Bsmt Exposure       76
BsmtFin Type 1      73
BsmtFin SF 1         1
BsmtFin Type 2      74
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1284
Garage Type        145
Garage Yr Blt      147
Garage Finish      147
Garage Cars          1
Garage Area          1
Garage Qual        147
Garage Cond        147
Pool QC           2626
Fence             2109
Misc Feature      2541
dtype: int64
--------------------
Large number of nulls
               null_pct
Alley         93.174061
Fireplace Qu  48.691695
Pool QC       99.582859
Fence         79.977247
Misc Feature  96.359499
--------------------
Small number of nulls
                 null_pct
Lot Frontage    17.026925
Mas Vnr Type     0.872203
Mas Vnr Area     0.872203
Bsmt Qual        2.768297
Bsmt Cond        2.768297
Bsmt Exposure    2.882063
BsmtFin Type 1   2.768297
BsmtFin SF 1     0.037922
BsmtFin Type 2   2.806219
BsmtFin SF 2     0.037922
Bsmt Unf SF      0.037922
Total Bsmt SF    0.037922
Bsmt Full Bath   0.075844
Bsmt Half Bath   0.075844
Garage Type      5.498673
Garage Yr Blt    5.574516
Garage Finish    5.574516
Garage Cars      0.037922
Garage Area      0.037922
Garage Qual      5.574516
Garage Cond      5.574516

## Fill Missing Values

Value counts were taken on all columns with nulls. If there were a small number of nulls, then nulls were replaced with zero for continuous columns and whatever code was specified as None or NA in the data sheet for categorical data.

Changes were made directly in the dataset.

In [22]:
# Fill in null values based on data type and data specification
data_clean['Mas Vnr Type'].fillna('None', inplace=True)
data_clean['Mas Vnr Area'].fillna(0, inplace=True)
data_clean['Bsmt Cond'].fillna('NA', inplace=True)
data_clean['Bsmt Exposure'].fillna('NA', inplace=True)
data_clean['BsmtFin Type 1'].fillna('NA', inplace=True)
data_clean['BsmtFin SF 1'].fillna(0, inplace=True)
data_clean['Bsmt Unf SF'].fillna(0, inplace=True)
data_clean['Total Bsmt SF'].fillna(0, inplace=True)
data_clean['Bsmt Full Bath'].fillna(0, inplace=True)
data_clean['Bsmt Half Bath'].fillna(0, inplace=True)
data_clean['Garage Type'].fillna('NA', inplace=True)
data_clean['Garage Finish'].fillna('NA', inplace=True)
data_clean['Garage Cars'].fillna(0, inplace=True)

## Remove columns

After reviewing the data, columns were removed that were deemed unlikely to support a Sale Price prediction based on the following criteria:

* Remove non-predictor columns such as the row id.
* Remove columns that have a high percentage of null values (more than 80%).
* Remove columns that are redundant
* Remove columns that have very little variability in values; most fall in a single category.

In [9]:
# Remove unneeded columns based on criteria listed above.
data_clean.drop(['PID','Lot Frontage','Garage Yr Blt','Utilities','Land Slope','Land Contour',
               'Condition 2','Roof Matl','Exterior 2nd','Exter Qual','Bsmt Qual',
               'Garage Qual','Garage Cond','BsmtFin Type 2','BsmtFin SF 2','Heating',
               'Electrical','Functional','Alley','Pool QC','Misc Feature',
               'Fence','Fireplace Qu','Garage Area'], axis=1, inplace=True)

In [10]:
# Verify no nulls exist after data cleaned
data_clean.isnull().sum().sum()
# data_clean.info()

0

## Encode columns

After nulls were elminated and unnecessary columns were removed, remaining columns containing discrete non-numeric data were encoded (converted to numeric equivalents).

This process was necessary because the analysis engines used required numeric data to operate.

A dataset containing the original values was retained as a data dictionary to allow for translation between original and encoded values.

In [11]:
# Encode data so can run correlations to determine which columns to keep
labelencoder = LabelEncoder()
data_clean['Condition 1 Lb'] = labelencoder.fit_transform(data_clean['Condition 1'])
data_clean['MS Zoning Lb'] = labelencoder.fit_transform(data_clean['MS Zoning'])
data_clean['Street Lb'] = data_clean['Street'].replace({'Pave': 0, 'Grvl': 1})
data_clean['Lot Shape Lb'] = labelencoder.fit_transform(data_clean['Lot Shape'])
data_clean['Neighborhood Lb'] = labelencoder.fit_transform(data_clean['Neighborhood'])
data_clean['Lot Config Lb'] = labelencoder.fit_transform(data_clean['Lot Config'])
data_clean['Bldg Type Lb'] = labelencoder.fit_transform(data_clean['Bldg Type'])
data_clean['House Style Lb'] = labelencoder.fit_transform(data_clean['House Style'])
data_clean['Roof Style Lb'] = labelencoder.fit_transform(data_clean['Roof Style'])
data_clean['Exterior 1st Lb'] = labelencoder.fit_transform(data_clean['Exterior 1st'])
data_clean['Mas Vnr Type Lb'] = labelencoder.fit_transform(data_clean['Mas Vnr Type'])
data_clean['Bsmt Cond Lb'] = labelencoder.fit_transform(data_clean['Bsmt Cond'])
data_clean['Exter Cond Lb'] = labelencoder.fit_transform(data_clean['Exter Cond'])
data_clean['Foundation Lb'] = labelencoder.fit_transform(data_clean['Foundation'])
data_clean['Bsmt Exposure Lb'] = labelencoder.fit_transform(data_clean['Bsmt Exposure'])
data_clean['BsmtFin Type 1 Lb'] = labelencoder.fit_transform(data_clean['BsmtFin Type 1'])
data_clean['Heating QC Lb'] = labelencoder.fit_transform(data_clean['Heating QC'])
data_clean['Central Air Lb'] = data_clean['Central Air'].replace({'N': 0, 'Y': 1})
data_clean['Kitchen Qual Lb'] = labelencoder.fit_transform(data_clean['Kitchen Qual'])
data_clean['Garage Type Lb'] = labelencoder.fit_transform(data_clean['Garage Type'])
data_clean['Garage Finish Lb'] = labelencoder.fit_transform(data_clean['Garage Finish'])
data_clean['Paved Drive Lb'] = data_clean['Paved Drive'].replace({'N': 0, 'Y': 1, 'P': 2})
data_clean['Sale Type Lb'] = labelencoder.fit_transform(data_clean['Sale Type'])
data_clean['Sale Condition Lb'] = labelencoder.fit_transform(data_clean['Sale Condition'])

data_clean.head()

   MS SubClass MS Zoning  ...  Sale Type Lb Sale Condition Lb
0           20        RL  ...             9                 4
1           90        RL  ...             9                 4
2           50        RM  ...             9                 4
3           60        FV  ...             9                 4
4           70        RL  ...             9                 4

[5 rows x 81 columns]

In [12]:
# Create copy and remove non-encoded columns so data can be evaluated
data_enc = data_clean.copy()

data_enc.drop(['MS Zoning','Street','Lot Shape','Neighborhood','Lot Config','Bldg Type',
               'House Style','Roof Style','Exterior 1st','Mas Vnr Type','Bsmt Cond',
               'Exter Cond','Foundation','Bsmt Exposure','BsmtFin Type 1','Heating QC',
               'Central Air','Kitchen Qual','Garage Type','Garage Finish','Paved Drive',
               'Sale Type','Sale Condition','Condition 1'], axis=1, inplace=True)

# Verify all values have been encoded.
data_enc.head()

   MS SubClass  Lot Area  ...  Sale Type Lb  Sale Condition Lb
0           20     14299  ...             9                  4
1           90     10791  ...             9                  4
2           50      9000  ...             9                  4
3           60      7379  ...             9                  4
4           70      7200  ...             9                  4

[5 rows x 57 columns]

# Exploratory Data Analysis (EDA)

In [23]:
# Note: Some items have low correlations when I would have expected higher correlation
# with sale price based on my personal house purchasing/selling experience.

# Look at clean data to see which columns can be used as predictors
corr = data_enc.corr()['SalePrice']
correlated_vars = abs(corr).sort_values(ascending=False)
correlated_vars

# Keep predictors that have correlation over 40% with SalePrice
# Overall Qual         0.805016
# Gr Liv Area          0.705482
# Garage Cars          0.646874
# Kitchen Qual Lb      0.629955
# Total Bsmt SF        0.628955
# 1st Flr SF           0.618247
# Year Built           0.562777
# Full Bath            0.542386
# Year Remod/Add       0.539932
# Mas Vnr Area         0.499399
# TotRms AbvGrd        0.493853
# Fireplaces           0.468886
# Garage Finish Lb     0.444104
# BsmtFin SF 1         0.428074
# Heating QC Lb        0.427698
# Garage Type Lb       0.426005
# Foundation Lb        0.407012

SalePrice            1.000000
Overall Qual         0.805016
Gr Liv Area          0.705482
Garage Cars          0.646874
Kitchen Qual Lb      0.629955
Total Bsmt SF        0.628955
1st Flr SF           0.618247
Year Built           0.562777
Full Bath            0.542386
Year Remod/Add       0.539932
Mas Vnr Area         0.499399
TotRms AbvGrd        0.493853
Fireplaces           0.468886
Garage Finish Lb     0.444104
BsmtFin SF 1         0.428074
Heating QC Lb        0.427698
Garage Type Lb       0.426005
Foundation Lb        0.407012
Wood Deck SF         0.322060
Open Porch SF        0.310361
Bsmt Exposure Lb     0.308997
Lot Shape Lb         0.299134
Half Bath            0.287063
Bsmt Full Bath       0.277060
Central Air Lb       0.269512
Lot Area             0.268516
2nd Flr SF           0.268059
Roof Style Lb        0.255515
Sale Condition Lb    0.244251
Neighborhood Lb      0.206116
Paved Drive Lb       0.183951
Bsmt Unf SF          0.175142
House Style Lb       0.170636
Enclosed Porch       0.141685
Exterior 1st Lb      0.140803
BsmtFin Type 1 Lb    0.134397
MS Zoning Lb         0.133183
Bedroom AbvGr        0.131789
Mas Vnr Type Lb      0.128984
Kitchen AbvGr        0.122953
Exter Cond Lb        0.121036
Bsmt Cond Lb         0.098625
Overall Cond         0.095205
Screen Porch         0.091214
Condition 1 Lb       0.086755
MS SubClass          0.078857
Pool Area            0.072427
Street Lb            0.063319
Lot Config Lb        0.055820
Mo Sold              0.052800
Sale Type Lb         0.049306
Bldg Type Lb         0.044288
Bsmt Half Bath       0.042458
Low Qual Fin SF      0.040838
3Ssn Porch           0.040625
Yr Sold              0.030053
Misc Val             0.019955
Name: SalePrice, dtype: float64

In [ ]:
# Look at distributions for selected predictors

# Processing

# Communicate Results